{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block main %}
<div class="container-wrapper">
    <div class="container">
        <img src="{{ asset('img/me.jpg') }}" alt="Me">
        <h2>MVC - Alfred</h2>
        <p>Jag heter Alfred och går första året på webprog! Jag är 21 år gammal och är för nuvarande bosatt på Trossö. Jag har två bilar vilket förmodligen är två för många för en fattig student.</p>
    </div>
</div>
{% endblock %}