{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="container-wrapper">
    <div class="container">
        <h2>Kmom01</h2>
        <p>Mina tidigare erfarenheter inom objektorientad programmering kommer endast ifrån kursen OOpython. Innan den kursen har jag inte programmerat objektorieterat. För att kunna programmera objektorieterat behöver man förstå att en klass är som en mall för att skapa objekt. Objekt är då instanser av en klass. Man kan sedan bygga på sin klass med egenskaper och metoder för att skapa en funktion bakom det hela. Jag har under kursmomentets gång uppfattat strukturen i koden och bland filer som lite rörig. Jag tycker att det är mycket att hålla koll på och det kan bli stökigt. TIL: Grunder i hur man programmerar objektorienterat med PHP. Artikeln "PHP the right way" främjar bästa praxis och moderna metoder för att utveckla PHP-applikationer, vilket är värdefullt för utvecklare som vill skriva säker, effektiv och underhållbar kod. Man märker även att artikeln är inte bara till för nybörjare utan riktar sig även till erfarna utvecklare som vill lära sig mer.</p>
    </div>
    <div class="container">
        <h2>Kmom02</h2>
        <p>X</p>
    </div>
</div>
{% endblock %}